@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

:root {
    --primary-main-blue: #2563EB;
}

body {
    font-family: 'Poppins', sans-serif;
}

.logo-new {
    font-family: 'Oswald', sans-serif;
}

.navbar-new {
    position: sticky;
    top: 0;
    z-index: 1000;
}